// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin grid-box {
  @include xy-grid;
  @include breakpoint(medium) {
    @include xy-gutters(map-get($grid-margin-gutters, medium), margin, right left, true);
  }
}

@mixin button-box {
    display: inline-block;
    font-size: 17px;
    text-align: center;
    line-height: 50px;
    padding: 0 $spacing-medium;
}

//font sizes
@mixin font-small {
    font-size: $font-small;
    line-height: $line-height-small;
}

@mixin font-medium {
    font-size: $font-medium;
    line-height: $line-height-medium;
}

@mixin font-large {
    font-size: $font-large;
    line-height: $line-height-large;
}

@mixin font-massive {
    font-size: $font-massive;
    line-height: $line-height-massive;
}

