// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//brand colors
$black: #000;
$white: #FFF;
$gold: #F2A900;
$grey: #949598;
$charcoal: #2E3233;
$maroon: #9d2239;

//page structure
$header-height: 100px;

//spacing
$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-medium: 24px;
$spacing-large: 32px;
$spacing-massive: 64px;

//font-size
$font-small: 12px;
$font-medium: 18px;
$font-large: 24px;
$font-massive: 40px;

$line-height-small: 18px;
$line-height-medium: 24px;
$line-height-large: 32px;
$line-height-massive: 49px;

//fonts 
$sans-serif: 'Roboto', sans-serif;

/// Regular font family
/// @type List
$text-font-stack: 'Roboto', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(229, 0, 80) !default;

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;





/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
