/**
 * Basic typography style for copy text
 */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');

body {
  color: $text-color;
  font: normal 125% / 1.4 $sans-serif;

    p {
        font-family: $sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    h1, .h1 {}

    h2, .h2 {
        font-weight: 300;
        @include font-massive;
    }
    
}
