// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn-black {
    background-color: $black;
    color: $white;
    @include button-box;
}