.statistics-box {
    width: 100%;
    @include xy-grid;
    @include xy-gutters(map-get($grid-margin-gutters, medium), margin);
    @include flex-align(center, middle);
    
    .stat-box {
        text-align: center;
        padding: $spacing-large 48px;
        @include xy-cell(3);
        
        .image-box {
            margin-bottom: $spacing-medium;
        }
        
        .title-box h3 {
            font-weight: 800;
            font-size: 32px;
            line-height: 42px;
            margin-bottom: 0;
        }
        
        .text-box {
            
            @include font-medium;
        }
    }
}