// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
	height: $header-height;
	background-color: $black;
	background: linear-gradient(rgba(0,0,0,.8) 50%, rgba(0,0,0,0) 100%);
	$color: $white;

	.header-box {
		@include xy-grid-container;
		height: 100%;
		@include flex-align($x: left, $y: middle);

		.header-box-content {
			@include grid-box;
			height: 100%;
		}
	}

	.logo-box {
		@include xy-cell(3);
		@include flex;
	}

	.menu-box {
		@include xy-cell(9);
		@include flex-align($x: justify);
		display: block;
		height: 100%;
		.menu-box-content {
			@include xy-grid;
		}
	}

	.login-box {
		color: $white;
	}

	.search-box {
		color: $white;
	}

	h1 {
		color: $white;
	}

	ul {
		display: flex;
		list-style: none;
		color: $white;

		li {
			a {
				height: $header-height;
				padding: 0 $spacing-small;
				display: table-cell;
				vertical-align: middle;
				color: $white;
				&:hover {
					background-color: $gold;
					color: $black;
					text-decoration: none;
				}
			}
		}
	}
}