section {
    padding: $spacing-large 0;
}

.row {
	@include xy-grid-container;
}

.row_content {
	@include xy-grid;
	@include breakpoint(medium) {
		@include xy-gutters(map-get($grid-margin-gutters, medium), margin, right left, true);
	}
}

.layout-box {
	@include xy-grid-container;
}