.layout-text_image {
	@include grid-box;
    @include flex-align(center, middle);
	.layout-text {
		@include xy-cell(6);
	}

	.layout-image {
		@include xy-cell(6);
		text-align: center;
	}
    
    .image-box {
        border-bottom: 8px solid $gold;
    }
    
}