{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
<body>

<header>
	<div class = "header-box">
		<div class = "header-box-content">
			<div class = "logo-box">
				<h1>*insert logo</h1>
			</div>
			<div class = "menu-box">
				<div class = "menu-box-content">
					<div class = "main-menu">
						<ul>
							<li><a href = "#">Our Services</a></li>
							<li><a href = "#">Our Expertise</a></li>
							<li><a href = "#">About Us</a></li>
							<li><a href = "#">News</a></li>
							<li><a href = "#">Contact</a></li>
							<li><a href = "#">WRX</a></li>
						</ul>
					</div>
					<div class = "login-box">
						*insert login
					</div>
					<div class = "search-box">
						*insert search
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

{{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
{{> body}}

<!--<footer>
	<h1>This is the footer.</h1>
</footer>-->

<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
